<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Bungee&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Unica+One&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>